<div class="card">
  <div class="card-bar"></div>
  <div class="card-body">

    <h3 class="h4 card-title">Boletín</h3>
    <p class="card-text">Como diría la tía Marta: "Pegale una suscribida al canal y andá a contarle a tus amigas y amigos, punto".</p>
    <form class="row gx-2 gy-3 email-form" name="newsletter" method="post" netlify-honeypot="name" data-netlify="true">
      <div class="col-md-12">
        <input name="name" type="text" class="form-control visually-hidden" placeholder="your name" aria-label="Name">
        <input name="email" type="email" class="form-control" placeholder="🐧 tu@correo.com" aria-label="📧 Correo electrónico" required>
        <input name="page" type="hidden" value="{{ .Page.Permalink }}">
      </div>
      <div class="col-md-4">
        <button type="submit" class="btn btn-primary w-100" aria-label="Subscribe">Suscribirse</button>
      </div>
    </form>

  </div>
</div>